<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= Title %></title>
    <style>
      .ariticle,
      .ariticle p img{
        max-width: 100%;
        overflow-x: hidden;
        margin: auto 10px;
      }
    </style>
  </head>
  <body>
    <div style="margin:56px 20% 0 11%;">
      <span style="color:green;float:left;font-size:2em;margin-right: 3px;" >-</span>
      <h1><%= Title %></h1>
    </div>
    <!-- <img src="<%= Cover %>"/> -->
    <div class="ariticle"><%- Content %></div>
  </body>
</html>
